
@media (max-width:767px) and (min-width:750px){
	.track{
		text-align:center !important;
	}
}
@media (max-width:750px){
	.logo{
		width:160px !important;
		margin-top:-33px !important;
	}
	#main-menu-collapse{
		margin-top:20px;
	}
	.text-top{
		font-size:21px !important;
		font-weight:400 !important;
		margin-top:30px !important;
	}
	.text-mid{
		font-size:70px !important;
		margin-top:-25px !important;
	}
	.with{
		margin-top:-13px !important;
	}
	.text-with{
		font-size:30px !important;
	}
	.border{
		width:210px !important;
	}
	.cont-image{
		width:500px !important;
		margin:0px auto !important;
	}
	.white{
		margin-top:0px !important;
		font-size: 15px !important;
		padding:8px 10px !important;
	}
	.email{
	    padding: 10px 35px !important;
	    font-size: 13px !important;
	}
	.button-pink{
		padding: 10px 25px !important;
	    font-size: 13px !important;
	}
	.track{
		text-align:center !important;
	}

}

@media (max-width:580px) and (min-width:380px){
	.logo{
		width:160px !important;
		margin-top:-33px !important;
	}
	#main-menu-collapse{
		margin-top:20px;
	}
	.text-top{
		font-size:15px !important;
		font-weight:400 !important;
		margin-top:20px !important;
	}
	.text-mid{
		font-size:50px !important;
		margin-top:-15px !important;
	}
	.with{
		margin-top:-7px !important;
	}
	.text-with{
		font-size:20px !important;
	}
	.border{
		width:150px !important;
	}
	.cont-image{
		width:300px !important;
		margin:0px auto !important;
	}
	.white{
		margin-top:-20px !important;
		font-size: 12px !important;
		padding:4px 5px !important;
		border: 2px solid #fff !important;
	}
	.email{
	    padding: 8px 20px !important;
	    margin-top:0px !important;
	    font-size: 11px !important;
	}
	.button-pink{
		margin-top:5px !important;
		padding: 8px 20px !important;
	    font-size: 12px !important;
	}
	.track{
		text-align:center !important;
	}
	footer h1{
		font-size:25px;
	}

}


@media (max-width: 767px) and (min-width: 321px){
	.mynav li {
	    text-align: center;
	    border-bottom: 1px solid #F1F1F1;
	}
	
}




